@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?nature');
    font-size: 120%;
}

.container {
    padding: 2em;
    margin: 1em;
    background-color: black;
    opacity: 0.7;
    color: white;
    border-radius: 2rem;
    width: 100%;
    max-width: 420px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.search-box {
    
    padding: 0.52em 1em;
    margin: 0.5em;
    border-radius: 2rem;
    background: transparent;
    color: white;
    outline: none;
    border: 1px solid grey;
    width: calc(100% - 150px) ;
    font-size: 110%;
}

.search-button {
    border-radius: 50%;
    outline: none;
    height: 3.5em;
    width: 3.5em;
    cursor: pointer;
    border: 1px solid grey;
    color: white;
    background-color: black;
}

button:hover {
    background: #7c7c7c6b;
}

::placeholder {
    color: white;
}

.weather {
    display: none;
    padding-left: 1em ;
}

.error {
    display: none;
    padding-left: 1em
}

.weather-discription-box {
    display: flex;
    align-items:center
}